fastapi
uvicorn
python-multipart

sqlalchemy

pydantic
pydantic-settings

python-dotenv

pymupdf

langchain
langchain-community

chromadb

sentence-transformers

openai
google-genai

tensorflow

numpy
pandas

scikit-learn

pytest

httpx